html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.tooltip-text {
  display: none;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 4px 8px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0%;
  margin-left: -13px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotate(90deg);
  z-index: 999;
}

.tooltip:hover .tooltip-text {
  display: block;
  position: absolute;
  left: 105%;
  top: 10%;
}

/* Fine Input CSS */
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

/* Visualize Button CSS */
.visualize-button {
  background-color: #084cdf; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #555;
  cursor: pointer;
}

/* Search Input text CSS */
#searchBar {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Horizontal rule CSS */
.hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #d1d0d0;
  color: #464545;
  text-align: center;
  margin: 7rem;
}
.hr:after {
  content: "OR";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.4em;
  background: white;
}
